body{
	background-image: url("img/minionsBg.jpg");
	background-size: 100%;

}

.backImage{
	background-image: url("img/white.jpg");
	background-size: 100%;
}

h2{
	text-align: center;
	font-size: 40px;
	position:relative;
	top: -100px;
}

p{
	text-align: center;s
}

.outside{
	position: relative;
	height: 900px;
	width: 900px;
	background-size: 100%;
	margin: 150px;
	display: none;
	border: 2px solid white;

}


.container{
	height: 660px;
	width: 660px;
	position: absolute;
	top: 40px;
	left: 40px;
	opacity: 10;
}

.scoreBoard{
	height: 660px;
	width: 150px;
	background-size: 100%;
	position: absolute;
	top: 40px;
	right: 10px;
	
}

.playButton{
	height: 80px;
	width: 400px;
	background-image: url("img/playAgain.jpg");
	position: absolute;
	bottom: 70px;
	left: 200px;
	font-size: 20px;
	background-size: 100%;

}	

.box {
	width: 200px;
	height: 200px;
	display: inline-block;
	margin: 10px;
	background-image: url("img/minionO.jpg");
	background-size: 100%;
	vertical-align:top;
	text-align: center;

}

.box:hover{
	cursor: url("img/metal.jpg");
}


.opic{
	background-image: url("img/bananaO.png");
	background-size: 100%;
	width: 200px;
	height: 200px;
	display: inline-block;
	margin: 10px;
	vertical-align:top;
	text-align: center;
	border-radius: 50%;
	
}

.xpic{
	background-image: url("img/bluegX.jpg");
	width: 200px;
	height: 200px;
	display: inline-block;
	margin: 10px;
	border-radius: 50%;


}


.player1{
	width: 100%;
	background-size: 100%;
	height: 150px;
	top: 50px;
	position: relative;
	opacity: .9;
}

.player2{
	width: 100%;
	background-size: 100%;
	height: 150px;
	top: 100px;
	position: relative;
	opacity: .9;
}

@-webkit-keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}

@keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}


.hvr-ripple-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
.hvr-ripple-out:before {
  content: '';
  position: absolute;
  border: #e1e1e1 solid 6px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.hvr-ripple-out:hover:before, .hvr-ripple-out:focus:before, .hvr-ripple-out:active:before {
  -webkit-animation-name: hvr-ripple-out;
  animation-name: hvr-ripple-out;
}

.start {
  background: #292929;
  background-image: -webkit-linear-gradient(top, #292929, #62a7d1);
  background-image: -moz-linear-gradient(top, #292929, #62a7d1);
  background-image: -ms-linear-gradient(top, #292929, #62a7d1);
  background-image: -o-linear-gradient(top, #292929, #62a7d1);
  background-image: linear-gradient(to bottom, #292929, #62a7d1);
  -webkit-border-radius: 33;
  -moz-border-radius: 33;
  border-radius: 33px;
  text-shadow: 6px 4px 2px #666666;
  -webkit-box-shadow: 0px 1px 30px #666666;
  -moz-box-shadow: 0px 1px 30px #666666;
  box-shadow: 0px 1px 30px #666666;
  font-family: Arial;
  color: #d6c0d6;
  font-size: 53px;
  padding: 10px 20px 10px 20px;
  border: solid #1f628d 1px;
  text-decoration: none;
  position: absolute;
  left: 50px;
  top: 550px;

}

.start:hover {
  background: #57d1f0;
  background-image: -webkit-linear-gradient(top, #57d1f0, #3498db);
  background-image: -moz-linear-gradient(top, #57d1f0, #3498db);
  background-image: -ms-linear-gradient(top, #57d1f0, #3498db);
  background-image: -o-linear-gradient(top, #57d1f0, #3498db);
  background-image: linear-gradient(to bottom, #57d1f0, #3498db);
  text-decoration: none;
}


.hide{
	display:none;
}

.header{
	width: 320px;
	height: 130px;
	position: absolute;
	background-image: url("img/minionText.jpg");
	top: -150px;
	left: 200px;
	background-size: 100%;
}

.congrats{
	height: 560px;
	width: 800px;
	position: absolute;
	background-image: url("img/congrats.jpg");
	background-size: cover;
	left: 160px;
	top: 220px;
	display: none;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.congrats2{
	height: 110px;
	width: 800px;
	position: relative;
	background-image: url("img/congratulations.png");
	background-size: 100%;
	top: 520px;
}

.name1{
	color: orange;
	font-size: 20px;
	font-family: sans-serif;
}

.name2{
	color: orange;
	font-size: 20px;
	font-family: sans-serif;

}



.nButt1{
	position: relative;
	left: 76px;

}

.nButt2{
	position: relative;
	left: 76px;

}














