h2{
	text-align: center;
	font-size: 40px;
	position:relative;
	top: -100px;
}

.outside{
	position: relative;
	height: 900px;
	width: 900px;
	background-color: yellow;
	margin: 150px;
}

.class{
	    
}

.container{
	height: 660px;
	width: 660px;
	background-color: blue;
	position: absolute;
	top: 40px;
	left: 40px;
}

.scoreBoard{
	height: 660px;
	width: 150px;
	background-color: red;
	position: absolute;
	top: 40px;
	right: 40px;
	
}

.playButton{
	height: 80px;
	width: 400px;
	background-color: red;
	position: absolute;
	bottom: 70px;
	left: 200px;

}	

.box {
	width: 200px;
	height: 200px;
	display: inline-block;
	margin: 10px;
	background: red;
	vertical-align:top;
	text-align: center;
}


#opic{
	background-image: url("img/opic.jpg");
	background-size: 100%;
	
}

#xpic{
	background-image: url("img/xpic.png");
	background-size: 100%;
}